export DATABASE_DB='xxxx'
export DATABASE_USER_NAME='xxxx'
export DATABASE_USER_PASSWORD='xxxxxxxx'

export SECRET_KEY_BASE='xxxx'

export REDDIT_USER_NAME='xxxx'
export REDDIT_PASSWORD='xxxxxxxx'
export REDDIT_CLIENT_ID='xxxx'
export REDDIT_SECRET='xxxxxxxx'
