export SSH_PORT='xxxx'
export SSH_USER_NAME='xxxx'
export SSH_PRIVATE_KEY_FULL_PATH='xxxx'

export DATABASE_HOST_ADMINISTRATION='xxxx'
export DATABASE_HOST_PRODUCTION='xxxx'
export DATABASE_PORT='xxxx'

export DATABASE_DB='xxxx'
export DATABASE_USER_NAME='xxxx'
export DATABASE_USER_PASSWORD='xxxxxxxx'

export DATABASE_MASTER_USER_NAME='xxxx'
export DATABASE_MASTER_USER_PASSWORD_PRODUCTION='xxxx'
export DATABASE_MASTER_USER_PASSWORD_ADMINISTRATION='xxxx'

export SECRET_KEY_BASE='xxxx'

export REDDIT_USER_NAME='xxxx'
export REDDIT_PASSWORD='xxxxxxxx'
export REDDIT_CLIENT_ID='xxxx'
export REDDIT_SECRET='xxxxxxxx'
