---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&password=xxxxxxxxxxxxxxxx&username=xxxxxxxx
    headers:
      Authorization:
      - Basic xxxxxxxxxxxxxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"error_description": "Only script apps may use password auth", "error":
        "unauthorized_client"}'
  recorded_at: Thu, 19 May 2016 08:14:23 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/gifs/hot.json?api_type=json&limit=100&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=hq3zjqLc3LBKLUH4A80xXoDfbFjOq%2BBtEB0W0NTrJlxrSHnQwuLRH6H44G2P%2Fv8823WJZCUvDvM%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.gifs", "banned_by": null, "media_embed": {}, "subreddit":
        "gifs", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;h1&gt;&lt;a
        href=\"/wiki/reddit_101\"&gt;New to reddit? Click here!&lt;/a&gt;&lt;/h1&gt;\n\n&lt;h1&gt;&lt;strong&gt;.gif,
        .gifv, .ogg, .mp4, and .webm format submissions only, please!&lt;/strong&gt;&lt;/h1&gt;\n\n&lt;h1&gt;&lt;strong&gt;Submissions
        cannot contain sound&lt;/strong&gt;&lt;/h1&gt;\n\n&lt;p&gt;&lt;strong&gt;If
        there is a violation of the rules, &lt;em&gt;please&lt;/em&gt; click the report
        butt[...]
